<!DOCTYPE HTML>
<html>
  <head>
    <title>Landmarks</title>
  </head>
  <body>
    <h1>Name: <a href="/landmarks/<%=@landmark.id%>"><%=@landmark.name%></a></h1>
    <p><%=@landmark.year_completed%></p>
  </body>
</html>
