<!DOCTYPE HTML>
<html>
  <head>
    <title>Landmarks</title>
  </head>
  <body>
    <h1><a href="/landmarks/<%=@landmark.id%>"><%=@landmark.name%></a></h1>
    <h3>Name</h3>
      <p><% @landmark.name%></p>
      <br>
    <h3>Year Completed</h3>
      <p><% @landmark.year_completed%></p>
  </body>
</html>
