<!-- <!DOCTYPE HTML>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Edit Figure</h1>
    <form method="post" action="/figures/<%=figure.id%>/edit">
      <input type="hidden" method="_method" value="patch"
      
      <input type="submit" value="Edit Figure">
    </form>
  </body>
</html> -->
