<!DOCTYPE HTML>
<html>
  <head>
    <title>NYC History Site</title>
  </head>
  <body>
    <h1>New York City History Site</h1>
    <ul>
      <li>See All Figures</li>
      <li>See All Landmarks</li>
    </ul>
  </body>
</html>
